.paper {
    font-family: 'VT323', 'Courier New', monospace;
    border-radius: 0;
    display: inline-grid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    font-size: 35px;
    width: 300px;
    aspect-ratio: 1;
    border: 1px solid;
    background: white;
    border: none;
    background: white;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    --mask:
        conic-gradient(from 135deg at top, #0000, #000 1deg 89deg, #0000 90deg) top/20px 51% repeat-x,
        conic-gradient(from -45deg at bottom, #0000, #000 1deg 89deg, #0000 90deg) bottom/20px 51% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}