h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resizable {
    width: 50%;
    border-radius: 0.75rem;
    padding: 20px;
    margin: 1rem;
    background-color: #FFFFFF40;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    overflow: hidden;

    touch-action: none;
    box-sizing: border-box;
}

.draggable {
    position: absolute;
    width: fit-content;
    border-radius: 0.75em;
    touch-action: none;
    user-select: none;

    &.bordered {
        background-color: #FFFFFF40;
    }
}